
/* ---------------------------------------------------
    CONTENT
-----------------------------------------------------*/

.container-fluid {
    padding-left: 0.9375rem !important;
    padding-right: 0.9375rem !important;
}

[node-id] rect {
    fill: #D82F3F;
}

#tree {
    width: 100%;
    height: 100%;
    position: relative;
}

.color-btn {
    background-color: #2d4055 !important;
    border-color: #2d4055 !important;
}

.font-weight-700 {
    font-weight: 700;
}

label {
    font-weight: 600;
}

.employees {

    .add-button {
        margin-bottom: 10px;
    }

    .table-search{
        margin-top: 10px;
    }
}

span {
    margin-right: 5px;
}

.profile-picture {
    width: 80% !important;
    height: auto !important;
}

.img-center {
    text-align: center;
}

.companies {

    table tbody td {
        line-height: 50px;
    }

    .logo {
        width: 60px !important;
        height: 55px !important;
        margin-left: 10px !important;
        border-radius: 5px !important;
        border-color: white !important;
    }

    .table-button {
        margin-top: 10px;
    }
}

.profile {
    .add-button {
        margin: 10px 0;
    }

    .names {
        text-decoration: none;
        color: #212529;
    }

    .names:hover {
        background-color: #2F56C8;
        color: white;
    }
}

.devider {
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 1px solid #C30E2F;

    &.hrlines {
        background-color: #ffffff;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.card {
    border-radius: 0px !important;

    &.card-shadow {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
        margin-bottom: 1rem;
        border-radius: 0.25rem !important;
    }

    &.margin-b {
        border-radius: 0 !important;
    }

    .card-body-rm-padding{
        padding: 0px !important;
    }

    .card-body-dcr-padding{
        padding: 15px !important;
    }
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .btn-at-media {
        width: 100% !important;
    }

    .create {
        .add-button {
            text-align: center;
        }

        .create{
            margin-bottom: 10px !important;
        }

        .table-search{
            margin-top: 0;
        }
    }

    .display-none {
        display: none;
    }

    .companies {

        .profile-picture {
            width: 290px !important;
            height: 290px !important;
        }

        .img-center {
            text-align: center !important;
        }

        .add-button {
            margin-bottom: 10px !important;
        }
    }
}

@media (max-width: 320px) {
    .companies {

        .profile-picture {
            width: 265px !important;
            height: 265px !important;
        }
    }
}

/* ---------------------------------------------------
    SCROLLBAR STYLE
----------------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
