.collapse-button {
    button {
        margin-top: 6px;
    }
}

.sidebar .nav-item .nav-link {
    padding: 12px !important;
}

.sidebar a:hover{
    background-color: #2d4055;
}

.sidebar a:visited {
    color: white;
}

#sidebarToggle {
    width: 40px;
    height: 40px;
    background: #3f5971;
    cursor: pointer;
}

#sidebarToggle span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: $white;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarToggle span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarToggle span:nth-of-type(2) {
    opacity: 0;
}
#sidebarToggle span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarToggle.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* ---------------------------------------------------
    Navbar
----------------------------------------------------- */


.navbar {
    margin-bottom: 15px;
    background-color: white;
}

.brand-logo .navbar-brand {
    padding-top: 0 !important;
    line-height: inherit;
    white-space: normal !important;
}

.orgChart {
    color: #D82F3F;
    font-weight: bold;
}

.admin-logo {
    background-color: white;
}

.icon-circle {
    background-color: #D82F3F;
}
